:root {
    --main-bg-color: cyan;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.btcontainer {
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

.canvas {
    border: solid black 1px;
}