@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.title {
    text-align: center;
    font-size: 50px;
    font-family: 'Bungee', cursive;
    padding: 15px;
}

.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    margin: auto;
    
    
}

.container {
   text-align: center;
}

.buttons {
    display: flex;
    padding: 20px;
    gap: 50px;    
    justify-content: center;
}

button {
  align-self: center;
  font-family: 'Bungee', cursive;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.grid-cell {
  border: 1px solid black;
  }

.grid-cell:hover {
  border: 1px solid black;
  }

.slider-container {
  font-family: 'Bungee', cursive;
}

