@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.title {
    text-align: center;
    font-size: 50px;
    font-family: 'Bungee', cursive;
    padding: 15px;
}

.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    margin: auto;
    
    
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.buttons {
    display: flex;
    padding: 20px;
    gap: 50px;    
    justify-content: center;
}

button {
  align-self: center;
  font-family: 'Bungee', cursive;
  border-radius: 2px;
  
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.grid-cell {
  border: 1px solid black;
  }

.grid-cell:hover {
  border: 1px solid black;
  }

.slider-container {
  font-family: 'Bungee', cursive;
}

.slider-container {
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
}

.slider {
  flex-grow: 1;
  
}


input[type="range"] {
  -webkit-appearance: none;
  width: 150px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#8a8786, #b3aead);
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: black;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
